<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    *ngIf="routePath !== '/login' && isMobilePhone"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Taiyōkei Spotify</span>
  <span class="example-spacer"></span>
  <button
    *ngIf="!isLoggedIn"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with login"
    (click)="handleLoginClick()"
  >
    <mat-icon>login</mat-icon>
  </button>
  <button
    *ngIf="isLoggedIn"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with login"
    (click)="handleProfileClick()"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
