<div class="container">
  <h1 class="title">Featured Playlist</h1>
  <mat-grid-list
    cols="3"
    rowHeight="70px"
    class="playlists-container"
    *ngIf="featuredPlaylist"
  >
    <mat-grid-tile
      class="playlist-grid"
      *ngFor="let playlist of featuredPlaylist"
      [colspan]="1"
    >
      <button class="playlist" (click)="onPlaylistSelect(playlist.id, playlist.name)">
        <img
          class="image"
          [src]="playlist.images[0].url"
          height="50"
          width="50"
        />
        <h1>{{ playlist.name }}</h1>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <app-spinner [showSpinner]="!featuredPlaylist"></app-spinner>
</div>
