.container {
  .title {
    text-align: center;
    font-size: xxx-large;
    line-height: initial;
  }

  .categories-container {
    overflow: auto;

    .category-grid {
      .category {
        display: flex;
        align-items: center;
        margin: 8px;
        padding: 12px;
        background-color: initial;
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;

        .image {
          margin-right: 8px;
        }
      }
    }

    .category-grid:hover {
      background-image: linear-gradient(to left, #3a6186, #89253e);
    }
  }
}
