<div class="container" fxLayout="column nowrap">
  <h1 class="title">Categories</h1>
  <div
    class="categories-container"
    *ngIf="categories"
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly center"
  >
    <div
      class="category-grid"
      *ngFor="let category of categories"
      fxFlex="1 1 30%"
      fxFlex.sm="1 1 50%"
      fxFlex.xs="1 1 80%"
    >
      <button
        class="category"
        (click)="onCategoryClick(category.id, category.name)"
      >
        <img
          class="image"
          [src]="category.icons[0].url"
          height="50"
          width="50"
        />
        <h1>{{ category.name }}</h1>
      </button>
    </div>
  </div>
  <app-spinner [showSpinner]="!categories"></app-spinner>
</div>
