<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <a routerLink="/" class="routerLink">
        <mat-list-item
          role="listitem"
          class="listItem"
          [ngClass]="{
            'highlight-route': routePath === '/'
          }"
          >Featured Playlists</mat-list-item
        >
      </a>
      <a routerLink="/categories" class="routerLink">
        <mat-list-item
          role="listitem"
          class="listItem"
          [ngClass]="{
            'highlight-route': routePath === '/categories'
          }"
          >Categories</mat-list-item
        >
      </a>
      <a routerLink="/genres" class="routerLink">
        <mat-list-item
          role="listitem"
          class="listItem"
          [ngClass]="{
            'highlight-route': routePath === '/genres'
          }"
          >Genres</mat-list-item
        >
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-embedded-player></app-embedded-player
  ></mat-drawer-content>
</mat-drawer-container>
