<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <a routerLink="/" class="routerLink">
        <mat-list-item
          role="listitem"
          class="listItem"
          [ngClass]="{
            'highlight-route': routePath === '/'
          }"
          >Genres</mat-list-item
        >
      </a>
      <a routerLink="/categories" class="routerLink">
        <mat-list-item
          role="listitem"
          class="listItem"
          [ngClass]="{
            'highlight-route': routePath === '/categories'
          }"
          >Categories</mat-list-item
        >
      </a>
      <a routerLink="/featured-playlists" class="routerLink">
        <mat-list-item
          role="listitem"
          class="listItem"
          [ngClass]="{
            'highlight-route': routePath === '/featured-playlists'
          }"
          >Featured Playlists</mat-list-item
        >
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet> </mat-drawer-content>
</mat-drawer-container>
